---
import { ticker } from '../data/site.ts';
---
<div class="ticker" aria-hidden="true">
  <div class="run">
    {ticker.phrases.map((p) => <span>{p}</span>)}
    {ticker.phrases.map((p) => <span>{p}</span>)}
  </div>
</div>
